{% extends "layout.html" %}
{% block main %}
		<!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->
		<div class="split-pane fixed-left">
			<div class="split-pane-component" id="left-component">
				<div id="tsf_info" class="panel panel-default">
					<div class="panel-heading">Détail de la tache</div>
					<div class="panel-body">
						<em class="text-muted"> Sélectionner une tache</em>
					</div>
				</div>
				<div id="spool_filter">
					<div class="input-group">
				      <input type="text" id="filter_txt" placeholder="Filtre par nom de tache" class="form-control" aria-label="...">
				      <div class="input-group-btn">
				        <button id="clear_filter_txt" type="button" class="btn btn-default" aria-expanded="false" title="Supprimer le filtre"><i class="fa fa-times"></i></button>
				      </div><!-- /btn-group -->
				    </div>
				    <div id="sortby">
				    	Trier par : 
				    	<a href="#" sortby="name">Nom</a> &nbsp;
				    	<a href="#" sortby="date">Date</a> &nbsp;
				    </div>
				</div>
				<div id="spool_list_container">
					<table id="spool_list" class="table table-condensed table-hover"></table>
				</div>
			</div>
			<div class="split-pane-divider" id="my-divider"></div>
			<div class="split-pane-component" id="right-component">
				<div id="preview_picture_loading" class="alert alert-info" role="alert" >
					<i class="fa fa-cog fa-spin"></i>
					Chargement de la prévisualisation.
				</div>
				<div id="page_loading" class="alert alert-info" role="alert" >
					<i class="fa fa-cog fa-spin"></i>
					Chargement de la liste des taches.
				</div>
				<div id="preview_picture"></div>
			</div>
		</div>
{% endblock %}

{% block scripts %}
	<script>
		
		function alphanum(str){
			if(str){
				return str.replace(/[^A-Za-z0-9_]/g,'_');
			}else{
				return '_';
			}
		}
	
		function loadSpool() {
			$.getJSON("/spool/list.json", function(data) {
				$("#spool_list").html("");
				var checksums = {}
				for ( var i in data.tsf_list) {
					var name = data.tsf_list[i].filename;
					if ('JobName' in data.tsf_list[i].headers) {
						name = data.tsf_list[i].headers.JobName
					}
					var id = alphanum(name)+data.tsf_list[i].date+data.tsf_list[i].checksum;
					checksums[id] = true;
					if($("#"+jqEscape(id)).length ==0){
						var tsf_row =$(HandlebarsUtil.render("tsf_row",{id:id,name:name, data : data.tsf_list[i]}))
						tsf_row.attr('id',id);
						var icons = $("<td width='32'/>")
						tsf_row.prepend(icons);
						if (data.tsf_list[i].headers.valid && (data.tsf_list[i].headers.bmp || data.tsf_list[i].headers.cut.length > 0)) {
							icons.append(" <i class='fa fa-check-circle-o  text-success' title='Fichier valide'></i>");
						} else {
							icons.append(' <i class="fa-times-circle-o text-danger" title="Fichier invalide"></i>');
							tsf_row.addClass("text-muted")
						}
						if (data.tsf_list[i].headers.bmp) {
							icons.append(" <i class='fa fa-picture-o text-info' title='Gravure active'></i>");
						} else {
							icons.append(' <i class="fa fa-picture-o text-muted" title="Pas de gravure"></i>');
						}
						if (data.tsf_list[i].headers.cut && data.tsf_list[i].headers.cut.length > 0) {
							icons.append(" <i class='fa fa-scissors text-info'title='" + data.tsf_list[i].headers.cut.length + " couleur(s) de découpe'></i>");
						} else {
							icons.append(' <i class="fa fa-scissors text-muted"  title="Pas de découpe"></i>');
						}
	
						data.tsf_list[i].display_name = name;
						tsf_row.data("tsf", data.tsf_list[i]);
						$("#spool_list").append(tsf_row);
					}
				}
 				$("#spool_list tr.tsf").each(function(){
					if(!($(this).attr('id') in checksums)){
						$(this).remove();
					}
				}); 
				$("#page_loading").hide();
				sortSpool();
				filterSpool();
				listResize();
			});
		}
		var currentsort = "name";
		if (localStorage && 'currentsort' in localStorage) {
			currentsort = localStorage['currentsort']
		}
		function sortSpool(sort) {
			$("#sortby a").removeClass("selected");
			
			if(sort == null){
				sort = currentsort;
			}
			currentsort = sort;
			if (localStorage) {
				localStorage['currentsort'] = sort;
			}
			$("#sortby a[sortby="+sort+"]").addClass("selected");
			if (sort == 'date') {
				$("#spool_list .tsf").sortElements(function(a, b) {
					return $(a).data('tsf').date < $(b).data('tsf').date ? 1 : -1;
				});
			} else { //sortby name
				$("#spool_list .tsf").sortElements(function(a, b) {
					
					return $.trim($(a).data('tsf').display_name) > $.trim($(b).data('tsf').display_name) ? 1 : -1;
				});
			}
		}

		function listResize() {
			$("#spool_list_container").css({
				'max-height' : $(window).height() - $(".navbar-fixed-top").height() - $("#tsf_info").height() - $("#spool_filter").height() - 10
			});
		}
		function filterSpool() {
			var filter = $.trim($("#filter_txt").val()).toLowerCase();
			console.log("Filtering",filter)
			if (filter == "") {
				$("#spool_list .tsf").show();
			} else {
				$("#spool_list .tsf").each(function() {
					if ($(this).data("tsf").filename.toLowerCase().indexOf(filter) > -1 || ('JobName' in $(this).data("tsf").headers && $(this).data("tsf").headers.JobName.toLowerCase().indexOf(filter) > -1)) {
						$(this).show();
					} else {
						$(this).hide();
					}
				});

			}

		}

		function windowResize() {
			$("#main").height($(window).height() - $(".navbar").height());
			$("#preview_picture").height($(window).height() - $(".navbar").height()) - 10;
			listResize();
		}
		$(window).resize(windowResize);

		$(function() {
			windowResize();
			$('div.split-pane').splitPane();
			$("#spool_list").on("click", ".tsf", function(e) {
				$(".zoomContainer").remove();
				e.preventDefault();
				var data = $(this).data('tsf');
				$("#tsf_info .panel-body").render('tsf_info', data);
				if (data.headers.valid && data.headers.bmp || data.headers.cut.length > 0) {
					var img_url = [ '/tsf/preview/', data.directory, '/', data.filename, '.svg' ].join("");
					var img = $([ '<img src="', img_url, '" data-zoom-image=', img_url, ' />' ].join('')).on('load', function() {
						console.log('loaded', this);
						$("#preview_picture_loading").hide();
					}).css({
						'max-width' : '95%',
						'max-height' : '99%',
						'margin' : 'auto'
					});
					$("#preview_picture_loading").show();
					$("#preview_picture").html(img);
					/* if (data.headers.bmp) {
						img.elevateZoom({
							zoomType : "inner",
							cursor : "crosshair",
							scrollZoom : true,
							containLensZoom : true,
							zoomType : "lens",
							lensShape : "round",
							lensSize    : 300,
							responsive : true
						});
					} */
				} else {
					$("#preview_picture").render('tsf_invalid', data);
				}
				listResize();
			});
			$("#spool_list").on("click", "a.tsf_dl",function(e){
				e.stopPropagation();
			});
			$("#spool_list").on("click", "a.tsf_rm",function(e){
				e.stopPropagation();
				e.preventDefault();
				var data = $(this).parents('.tsf').data("tsf");
				if(confirm("Suppression de la tache "+data.filename)){
					$.getJSON(['/tsf/remove/',data.directory, '/', data.filename,'.json'].join(''), function(){
						loadSpool();
					});
				}
			});
			$("#spool_list").on("click", "a.tsf_bak",function(e){
				e.stopPropagation();
				e.preventDefault();
				alert('Archivage pas enore en place, désolé !');
			});
			
			$("#sortby").change(function() {
				sortSpool();
			});
			$("#filter_txt").keyup(function() {
				filterSpool();
			}).change(function() {
				filterSpool();
			});
			$("#clear_filter_txt").click(function(e){
				e.preventDefault();
				$("#filter_txt").val("");
				filterSpool();
			});
			$("#sortby a").click(function(e){
				e.preventDefault();
				sortSpool($(this).attr('sortby'));
			});
			loadSpool();
			setInterval(loadSpool,10000);

/* 			var eventSource = new EventSource('/subscribe');
			 eventSource.onmessage = function(e) {
			 console.log(e.data);
			 } */
		})
	</script>
{% endblock %}
